@page
@model SampleTemplatedMailing.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Templated Mail Demo</h1>
    <form method="post">
        <p>Press the button to generate templated mail in <code>C:\InetPub\MailRoot\pickup</code>.</p>
        <p><input type="submit" value="Send mail!" /></p>
    </form>
</body>
</html>
