@page
@model SampleTemplatedMailing.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <input type="submit" value="Send mail!" />
    </form>
</body>
</html>
